h1{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    color:black
}

h2{
    font-family: "Raleway", sans-serif;
}