body{
    font-family: "Raleway", sans-serif; 
    margin:0; 
    background-color: #292537;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    }
header{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(img-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    padding: 150px 0;
}
header h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
    margin:30px 0;
}

header h2{
    font-family: "Calligraffitti", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin:0;
}
header h3{
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 5px;
    margin:0;
}
header a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: #272044;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}
@media (max-width: 900px) {
    header{
        padding: 60px 0;

    }
    header h1{
        font-size: 48px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
}
